<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static 'fisheryui/main.css' %}' />
    <link rel="stylesheet" href='{% static 'fisheryui/edit_settings.css' %}' />
    <meta charset="utf-8" />
    <title>Fishery Simulation Settings</title>
</head>
<body>
<div id="page_container">
{% include './fisheryui/header.html' %}
{% include './fisheryui/navbar.html' %}
<div id="break"></div>
    <div id="settings">
        <form action="{% url 'edit_settings' %}" method="post" autocomplete="off">
            {% csrf_token %}
            {{ formset_nodelete.management_form }}
            {{ formset_delete.management_form }}
            <table>
                <tr>
                {% for field in formset_delete.0.visible_fields %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
                </tr>
                {% for form in formset_nodelete %}
                    <tr>
                        {{form.id}}
                        {% for field in form.visible_fields %}
                             <td>{{ field }}{{ field.errors }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %} 
                {% for form in formset_delete %}
                    <tr>
                        {{form.id}}
                        {% for field in form.visible_fields %}
                             <td>{{ field }}{{ field.errors }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {{ formset_nodelete.non_form_errors }}
                {{ formset_delete.non_form_errors }}
            </table>
            <input type="submit" value="Update Settings" name="update_settings">
        </form>
    </div>
</div>
</body>
</html>